
.interactive-cubes-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 3000px;
}

.interactive-cubes-scene {
  position: relative;
  width: 1200px; 
  height: 800px; 
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: rotateX(10deg) rotateY(-15deg);
}

.interactive-cube-container {
  position: absolute;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 1.2s;
  cursor: pointer;
}

.interactive-cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: spin-subtle 30s infinite linear alternate;
}

.interactive-cube-container.group-active .interactive-cube {
    animation: spin-active 20s infinite linear;
}

.cube-face {
  position: absolute;
  width: 100px;
  height: 100px;
  background: hsl(var(--primary) / 0.05);
  border: 1px solid hsl(var(--primary) / 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  overflow: hidden;
  transition: background-color 0.5s;
}

.interactive-cube-container:hover .cube-face {
  background: hsl(var(--primary) / 0.15);
}

.cube-face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  transition: opacity 0.5s;
}

.interactive-cube-container:hover .cube-face img {
  opacity: 1;
}

.cube-front { transform: translateZ(50px); }
.cube-back { transform: rotateY(180deg) translateZ(50px); }
.cube-right { transform: rotateY(90deg) translateZ(50px); }
.cube-left { transform: rotateY(-90deg) translateZ(50px); }
.cube-top { transform: rotateX(90deg) translateZ(50px); }
.cube-bottom { transform: rotateX(-90deg) translateZ(50px); }


/* Default positions for 56 cubes */
.cube-pos-0 { transform: translate3d(-500px, -350px, -200px) rotateY(20deg) rotateX(-20deg); }
.cube-pos-1 { transform: translate3d(-400px, -300px, -150px) rotateY(-10deg) rotateX(-15deg); }
.cube-pos-2 { transform: translate3d(-300px, -350px, -250px) rotateY(15deg) rotateX(-25deg); }
.cube-pos-3 { transform: translate3d(-200px, -300px, -200px) rotateY(-5deg) rotateX(-20deg); }
.cube-pos-4 { transform: translate3d(-100px, -350px, -300px) rotateY(10deg) rotateX(-30deg); }
.cube-pos-5 { transform: translate3d(0, -300px, -250px) rotateY(0deg) rotateX(-25deg); }
.cube-pos-6 { transform: translate3d(100px, -350px, -200px) rotateY(-10deg) rotateX(-20deg); }
.cube-pos-7 { transform: translate3d(200px, -300px, -150px) rotateY(5deg) rotateX(-15deg); }

.cube-pos-8 { transform: translate3d(-550px, -200px, -180px) rotateY(25deg) rotateX(-10deg); }
.cube-pos-9 { transform: translate3d(-450px, -150px, -130px) rotateY(-15deg) rotateX(-5deg); }
.cube-pos-10 { transform: translate3d(-350px, -200px, -230px) rotateY(20deg) rotateX(-15deg); }
.cube-pos-11 { transform: translate3d(-250px, -150px, -180px) rotateY(-10deg) rotateX(-10deg); }
.cube-pos-12 { transform: translate3d(-150px, -200px, -280px) rotateY(15deg) rotateX(-20deg); }
.cube-pos-13 { transform: translate3d(-50px, -150px, -230px) rotateY(5deg) rotateX(-15deg); }
.cube-pos-14 { transform: translate3d(50px, -200px, -180px) rotateY(-15deg) rotateX(-10deg); }
.cube-pos-15 { transform: translate3d(150px, -150px, -130px) rotateY(10deg) rotateX(-5deg); }

.cube-pos-16 { transform: translate3d(300px, -350px, -200px) rotateY(20deg) rotateX(-20deg); }
.cube-pos-17 { transform: translate3d(400px, -300px, -150px) rotateY(-10deg) rotateX(-15deg); }
.cube-pos-18 { transform: translate3d(500px, -350px, -250px) rotateY(15deg) rotateX(-25deg); }
.cube-pos-19 { transform: translate3d(600px, -300px, -200px) rotateY(-5deg) rotateX(-20deg); }

.cube-pos-20 { transform: translate3d(250px, -150px, -180px) rotateY(-10deg) rotateX(-10deg); }
.cube-pos-21 { transform: translate3d(350px, -200px, -280px) rotateY(15deg) rotateX(-20deg); }
.cube-pos-22 { transform: translate3d(450px, -150px, -230px) rotateY(5deg) rotateX(-15deg); }
.cube-pos-23 { transform: translate3d(550px, -200px, -180px) rotateY(-15deg) rotateX(-10deg); }

.cube-pos-24 { transform: translate3d(-500px, 150px, -150px) rotateY(20deg) rotateX(10deg); }
.cube-pos-25 { transform: translate3d(-400px, 100px, -100px) rotateY(-10deg) rotateX(5deg); }
.cube-pos-26 { transform: translate3d(-300px, 150px, -200px) rotateY(15deg) rotateX(15deg); }
.cube-pos-27 { transform: translate3d(-200px, 100px, -150px) rotateY(-5deg) rotateX(10deg); }
.cube-pos-28 { transform: translate3d(-100px, 150px, -250px) rotateY(10deg) rotateX(20deg); }
.cube-pos-29 { transform: translate3d(0, 100px, -200px) rotateY(0deg) rotateX(15deg); }
.cube-pos-30 { transform: translate3d(100px, 150px, -150px) rotateY(-10deg) rotateX(10deg); }
.cube-pos-31 { transform: translate3d(200px, 100px, -100px) rotateY(5deg) rotateX(5deg); }

.cube-pos-32 { transform: translate3d(-550px, 300px, -130px) rotateY(25deg) rotateX(20deg); }
.cube-pos-33 { transform: translate3d(-450px, 250px, -80px) rotateY(-15deg) rotateX(15deg); }
.cube-pos-34 { transform: translate3d(-350px, 300px, -180px) rotateY(20deg) rotateX(25deg); }
.cube-pos-35 { transform: translate3d(-250px, 250px, -130px) rotateY(-10deg) rotateX(20deg); }
.cube-pos-36 { transform: translate3d(-150px, 300px, -230px) rotateY(15deg) rotateX(30deg); }
.cube-pos-37 { transform: translate3d(-50px, 250px, -180px) rotateY(5deg) rotateX(25deg); }
.cube-pos-38 { transform: translate3d(50px, 300px, -130px) rotateY(-15deg) rotateX(20deg); }
.cube-pos-39 { transform: translate3d(150px, 250px, -80px) rotateY(10deg) rotateX(15deg); }

.cube-pos-40 { transform: translate3d(300px, 150px, -150px) rotateY(20deg) rotateX(10deg); }
.cube-pos-41 { transform: translate3d(400px, 100px, -100px) rotateY(-10deg) rotateX(5deg); }
.cube-pos-42 { transform: translate3d(500px, 150px, -200px) rotateY(15deg) rotateX(15deg); }
.cube-pos-43 { transform: translate3d(600px, 100px, -150px) rotateY(-5deg) rotateX(10deg); }

.cube-pos-44 { transform: translate3d(250px, 250px, -130px) rotateY(-10deg) rotateX(20deg); }
.cube-pos-45 { transform: translate3d(350px, 300px, -230px) rotateY(15deg) rotateX(30deg); }
.cube-pos-46 { transform: translate3d(450px, 250px, -180px) rotateY(5deg) rotateX(25deg); }
.cube-pos-47 { transform: translate3d(550px, 300px, -130px) rotateY(-15deg) rotateX(20deg); }

.cube-pos-48 { transform: translate3d(-50px, 0, -350px) rotateY(0deg) rotateX(0deg); }
.cube-pos-49 { transform: translate3d(50px, 0, -300px) rotateY(0deg) rotateX(0deg); }
.cube-pos-50 { transform: translate3d(150px, 0, -350px) rotateY(0deg) rotateX(0deg); }
.cube-pos-51 { transform: translate3d(250px, 0, -300px) rotateY(0deg) rotateX(0deg); }
.cube-pos-52 { transform: translate3d(-150px, 0, -400px) rotateY(0deg) rotateX(0deg); }
.cube-pos-53 { transform: translate3d(-250px, 0, -350px) rotateY(0deg) rotateX(0deg); }
.cube-pos-54 { transform: translate3d(-350px, 0, -400px) rotateY(0deg) rotateX(0deg); }
.cube-pos-55 { transform: translate3d(-450px, 0, -350px) rotateY(0deg) rotateX(0deg); }


/* Positions for the active group of 8 cubes */
.active-pos-0 { transform: translate3d(-50px, -50px, 200px) scale(1.2) rotateY(20deg) rotateX(-20deg); }
.active-pos-1 { transform: translate3d(150px, -50px, 200px) scale(1.2) rotateY(-20deg) rotateX(-20deg); }
.active-pos-2 { transform: translate3d(-50px, 150px, 200px) scale(1.2) rotateY(20deg) rotateX(20deg); }
.active-pos-3 { transform: translate3d(150px, 150px, 200px) scale(1.2) rotateY(-20deg) rotateX(20deg); }
.active-pos-4 { transform: translate3d(50px, -150px, 150px) scale(1.1) rotateY(0deg) rotateX(-30deg); }
.active-pos-5 { transform: translate3d(50px, 250px, 150px) scale(1.1) rotateY(0deg) rotateX(30deg); }
.active-pos-6 { transform: translate3d(-150px, 50px, 150px) scale(1.1) rotateY(30deg) rotateX(0deg); }
.active-pos-7 { transform: translate3d(250px, 50px, 150px) scale(1.1) rotateY(-30deg) rotateX(0deg); }


.interactive-cube-container.main-inactive {
  opacity: 0.1;
  transform: scale(0.8) translateZ(-500px);
}

@keyframes spin-subtle {
  from { transform: rotateY(-15deg) rotateX(5deg); }
  to { transform: rotateY(15deg) rotateX(-5deg); }
}

@keyframes spin-active {
  from { transform: rotateY(0deg) rotateX(10deg); }
  to { transform: rotateY(360deg) rotateX(10deg); }
}

@media (max-width: 1200px) {
  .interactive-cubes-scene {
    transform: scale(0.8) rotateX(10deg) rotateY(-15deg);
  }
}
@media (max-width: 992px) {
  .interactive-cubes-scene {
    transform: scale(0.65) rotateX(10deg) rotateY(-15deg);
  }
}

@media (max-width: 768px) {
  .interactive-cubes-scene {
    transform: scale(0.5) rotateX(10deg) rotateY(-15deg);
  }
}

@media (max-width: 576px) {
  .interactive-cubes-scene {
    transform: scale(0.4) rotateX(10deg) rotateY(-15deg);
  }
}
